<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script>

        jQuery(document).ready(function($){
            $('#readiness').hide();
                
                
        });
        
    
        function getVoice(){
            $.ajax({
                    type: "POST",
                    url: "/three/",
                    dataType: "json",
                    async: "true",
                    data:{ 
                        csrfmiddlewaretoken: '{{csrf_token}}'},
                    success: showVoiceData
                });
        }
    
        function showVoiceData(json){
            $('#res').html(json.out);
           
        };
    
    </script>
    </head>
    <body >
    
    
            <div>
                <button id="recbut" class="button button5"><a href='javascript:getVoice()' >Click away boii</a></button>
            </div>
            <div id ='res'></div>
    
    
    
    </body>
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    


</html>
